.timetable-div {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1em;
}

.timetable-head {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.timetable-title {
    display: flex;
    align-items: center;
}

.timetable-title img {
    width: 1.1em;
    height: 1.1em;
    margin-right: 3px;
}

.timetable-title-details p,
.timetable-schedule-div p {
    font-size: 12px;
}

.timetable-options {
    display: flex;
    gap: 10px;
}

.timetable-options button {
    border: none;
    border-radius: 7px;
    width: 180px;
    height: 32px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
}


.timetable-options img {
    width: 11px;
    height: 11px;
}

.timetable-toggle {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1.5em 0 0.5em 0;
}

.timetable-toggle button {
    flex: 1;
    background: none;
    border: none;
    padding: 0.7em 1em;
    cursor: pointer;
}

.timetable-toggle button:focus {
    background: #f0f0f0;
    border-radius: 7px;
    margin: 3px;
}


.timetable-schedule-div p {
    font-size: 14px;
    margin: 0.6em 0;
}

.timetable-schedule-div h4 {
    font-size: 14px;
}

.timetable {
  margin: 1em auto;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

thead {
  background-color: #f9fafb;
}

th, td {
  border: 1px solid #e5e7eb;
  text-align: center;
  padding: 10px;
  vertical-align: top;
}

th {
  background-color: #f3f4f6;
  font-weight: bold;
}

.class {
  border-radius: 12px;
  padding: 10px;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}

.class.lecture {
  background-color: #d3fdde;
}

.class.lab {
  background-color: #d3fdde;
}


.free {
  color: #999;
  font-style: italic;
  background-color: #f9fafb;
}




.timetable-after {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin: 1em 0;
    padding-bottom: 1em;
}

.timetable-after div {
    border: 1px solid #ddd;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4.6em;
}

.timetable-after p {
    font-size: 11px;
    color: #6a7282;
}

.timetable-after span {
    font-size: 21px;
    font-weight: bold;
    color: #00a63e;
}



@media (max-width: 700px) {
    .timetable-options button {
        width: 140px;
        height: 32px;
        font-size: 10px;
    }
}

@media (max-width: 630px) {
    .timetable-options button {
        width: 120px;
    }

    .timetable-after {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 575px) {
    .timetable-options button {
        width: 100px;
    }
}